*{
    margin: 0px;
    padding: 0px;
}
.content{
    width: 400px;

    margin: 0px auto;
}

.dangkythanhvien{
    width: 400px;
    border: 1px solid #DDDDDD;
    margin-top: 60px;


}
.dangkythanhvien h3{
    background: #039688;
    padding: 5px;
    color: #FFF;
}
.dangkythanhvien form table tr td{
    padding: 5px;

}
.dangkythanhvien form table tr td input{
padding: 3px 5px;
}

.list{
    background: yellow;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}
.danhsach{
    width: 800px;
    margin: auto;
    margin-top: 50px;
}
.danhsach table{
    width: 500px;
    border: 1px #999999 ;
}
.danhsach h3{
    background: #009688;
    color:#FFFFFF ;
    text-align: center;
}

.timkiem{
    width: 800px;
    margin: auto;
    margin-top: 50px;
}